footer {
  background-color: var(--header-footer-bg);
  text-align: center;
  font-family: "Arial";
  font-size: 1.2rem;
  /* position: absolute; */
  bottom: 0;
  padding: 15px;
  height: 6rem;
  width: 100%;
  margin-top: 50vh;
  z-index: 0;
}

footer nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  line-height: 20px;
}

nav a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  footer {
    font-size: 1.5rem;
    height: 110px;
  }

  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
  }
}
