.formContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.form-sm {
  display: flex;
  flex-direction: row;
  width: 60px;
  line-height: 1rem;
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 2rem;
  background-color: #f1f1f1;
  resize: none;
  max-height: 50px;
  outline: none;
}

.formContainer textarea {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 2rem;
  background-color: #f1f1f1;
  resize: none;
  height: 150px;
  outline: none;
}

button {
  border-radius: 5px;
  max-width: 100px;
  background-color: var(--btn);
  margin-top: 1rem;
}

.btn-sm {
  margin: 0;
}

button:active {
  background-color: var(--btn-dark);
}

/* button:focus {
  background-color: var(--btn-dark);
} */

.formContainer label {
  font-size: medium;
  margin-left: 10px;
}

.editForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.editForm textarea {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 1rem;
  background-color: #f1f1f1;
  resize: none;
  height: 100px;
  outline: none;
  margin-top: 15px;
}
.editForm label {
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
}

.editForm input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 2rem;
  background-color: #f1f1f1;
  resize: none;
  max-height: 50px;
  outline: none;
}

.bioBox {
  border-style: none;
  border-radius: 1rem;
  border-width: 2px;
  background-color: var(--btn);
  padding: 10px;
  font-size: small;
  opacity: 0.8;
}

.editCommentForm {
  display: block;
}

.showEditForm {
  display: block;
}
