* {
	box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
}


:root
{
  --header-footer-bg: rgb(237, 237, 237);
  --main-bg: rgb(237, 237, 237);
  --btn: rgb(203, 166, 136);
  --btn-dark: rgb(170, 139, 114);
  --title-heading: rgb(60, 136, 153);

  /*  Midnight rbg(35, 48, 61);
      Fog rbg( 237, 237, 237);
      Tide rbg(57,81,89);
      Mist rbg(144, 163, 167);
      Sunset rbg(147, 84, 48);
      Shell rbg(203, 166, 136);
      117, 158, 167
      */

}
