
/* HEADER CONTENT ----------------------------------------------*/
header {
background-color: var(--header-footer-bg);
text-align: left;
font-family: 'Arial';
font-size: 1rem;
padding: 30px;
height: 100px;
position: absolute;
top: 0;
width: 100%;
z-index: 2;
}
#titleLink {
  text-decoration: none;
  color: var(--title-heading);
}
#titleLink:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 4px;
}

header nav a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

a:hover {
  color: rgb(148, 126, 98);
}
