.boxXL {
  margin: 2rem;
  min-height: 100vh;
  z-index: 1;
  max-width: 1000px;
  margin-top: 120px;
}

.boxXL h1 {
  font-size: large;
  margin-bottom: 1rem;
}

.tablePosts {
  max-height: fit-content;
  min-width: 350px;
  border: slategray;
  border-style: solid;
  margin-left: 2rem;
}

td,
th {
  border: 1px dotted #dddddd;
  text-align: left;
  padding: 8px;
}

.tr-sm {
  font-size: 14px;
  padding: 4px;
}

.row-post {
  height: 70px;
}

.row-btns {
  max-height: 50px;
}

.row-btns td {
  max-height: 50px;
  padding: 0;
  margin-top: 0;
}

.row-btns button {
  height: 30px;
}

@media screen and (min-width: 1280px) {
  .boxXL {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
